In [3]:
# IMPORTADO O PACOTE E O MODULO
from pandas import Series
import pandas as pd

In [4]:
# VENDO A VERSÃO DO PANDA
pd.__version__

'1.2.4'

## CRIAÇÃO DE Series em Pandas

In [28]:
# # CRIANDO SÉRIES DE DADOS
obj01 = Series([67,78,-12,44,43])
obj01

0    67
1    78
2   -12
3    44
4    43
dtype: int64

In [29]:
# CONHEÇENDO O TIPO DE OBJETO
type(obj01)

pandas.core.series.Series

In [30]:
# VISUALIZANDO OS VALORES
obj01.values

array([ 67,  78, -12,  44,  43], dtype=int64)

In [31]:
# VISUALIZANDO A INDEXAÇÃO
obj01.index

RangeIndex(start=0, stop=5, step=1)

In [32]:
# CRIAR SERIES COM INDEXAÇÃO
obj02 = Series([ 80,43,66,78,-44,-67,-200], index = ['a','b','c','d','e','f','g'])
obj02

a     80
b     43
c     66
d     78
e    -44
f    -67
g   -200
dtype: int64

In [33]:
# ESTRAIDO VALORES
obj02.values

array([  80,   43,   66,   78,  -44,  -67, -200], dtype=int64)

In [34]:
# ESTRAINDO INDEXAÇÃO
obj02.index

Index(['a', 'b', 'c', 'd', 'e', 'f', 'g'], dtype='object')

In [35]:
# ESTRAIDO SERIES COM REGRAS DE 'if'
obj02[obj02>-50]

a    80
b    43
c    66
d    78
e   -44
dtype: int64

In [38]:
# ESTRAINDO NO INDICE ESCOLHEDO
obj02[2]

66

In [39]:
# VERIFICANDO A PRESENÇA DO OBJETO 'b'
'b' in obj02

True

## MANIPULAÇÃO DE Series em Pandas

In [75]:
# CRIANDO SÉRIES DE DADOS PASSANDO COM DICIONÁRIO COMO PARÁMETRO
dicionario = {'pizza':200, 'salame':12, 'salsicia':23, 'banana': 11, 'carne':-78, 'gelo':4, 'uva':67 }

In [77]:
# CRIAMOS UMA SÉRIES A PARTIR DE DICIONÁRIO
obj03 = Series(dicionario)
obj03

pizza       200
salame       12
salsicia     23
banana       11
carne       -78
gelo          4
uva          67
dtype: int64

In [66]:
# VERIFICANDO O TYPO DE DADO
type(obj03)

pandas.core.series.Series

## CRIANDO SÉRIES DE DADOS PASSANDO COM LISTA COMO PARÁMETRO

In [70]:
# CRIANDO SÉRIES DE DADOS PASSANDO COM LISTA COMO PARÁMETRO
cidades = ['roma','verona','firenze','rio de janeiro','madrid','são paulo','taranto']

In [78]:
# CRIANDO SÉRIES DE DADOS PASSANDO COM LISTA PARECIDA COM "dict"
pizzas = ['pizza', 'salame', 'salsicia', 'banana', 'carne', 'gelo', 'uva']

In [79]:
obj04 = Series(dicionario, index=cidades)
obj04

roma             NaN
verona           NaN
firenze          NaN
rio de janeiro   NaN
madrid           NaN
são paulo        NaN
taranto          NaN
dtype: float64

In [80]:
# PASSANDO COM LISTA PARECIDA COM DICIONARIO
obj05 = Series(dicionario, index=pizzas)
obj05

pizza       200
salame       12
salsicia     23
banana       11
carne       -78
gelo          4
uva          67
dtype: int64

In [81]:
# CONTROLA QUE ESTEJAM VALORES (NULOS) NA NOSSA VÁRIAVEL
pd.isnull(obj04)

pizza       False
salame      False
salsicia    False
banana      False
carne       False
gelo        False
uva         False
dtype: bool

In [85]:
# CONTROLA QUE ESTEJAM VALORES (NULOS) NA NOSSA VÁRIAVEL
pd.isnull(obj05)

pizza       False
salame      False
salsicia    False
banana      False
carne       False
gelo        False
uva         False
dtype: bool

In [83]:
# CONTROLA QUE ESTEJAM VALORES (NÃO NULOS) NA NOSSA VÁRIAVEL
pd.notnull(obj04)

roma              False
verona            False
firenze           False
rio de janeiro    False
madrid            False
são paulo         False
taranto           False
dtype: bool

In [86]:
# CONTROLA QUE ESTEJAM VALORES (NÃO NULOS) NA NOSSA VÁRIAVEL
pd.notnull(obj05)

pizza       True
salame      True
salsicia    True
banana      True
carne       True
gelo        True
uva         True
dtype: bool

In [93]:
# MUAR O NOME DO (obj05)
obj05.name = 'minha_comida'
obj05

indexação
pizza       200
salame       12
salsicia     23
banana       11
carne       -78
gelo          4
uva          67
Name: minha_comida, dtype: int64

In [92]:
# MUAR O NOME DA INDEXAÇÃO DO (obj05)
obj05.index.name = 'indexação'
obj05

indexação
pizza       200
salame       12
salsicia     23
banana       11
carne       -78
gelo          4
uva          67
Name: minha_comida, dtype: int64

In [ ]:
## CRIANDO DATAFRAME COM (PANDAS)